# For local development, run `supabase status` to get credentials.
# For hosted instance keys head to https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyZHZwdXNtZXVvdnN5ZW1qbHFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM1ODM1OTIsImV4cCI6MjAwOTE1OTU5Mn0.CLZqaGXAcIpK_5KqH7EuvM63-Hzywgaoa-xUIqR_S6I
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyZHZwdXNtZXVvdnN5ZW1qbHFwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5MzU4MzU5MiwiZXhwIjoyMDA5MTU5NTkyfQ.6qd7K8yC2-GXVt-TXF0X165pd3abd9KA0QACWQkEA3g

# Get your key at https://platform.openai.com/account/api-keys
OPENAI_KEY= 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